//
// docs.scss
//
@import "mixins";
@import "variables";

// Base styles
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  small {
    font-size: 65%;
    color: $gray-color;
  }
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  color: #555;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: 0 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.prime-container, .prime-container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  @include clearfix;
}

.prime-container {
  max-width: 970px;
}

// md (>= 768px)
@media screen and (min-width: 48em) {
  .prime-container {
    padding-left: 2em;
    padding-right: 2em;
  }
}