//
// grid.scss
//

// mixins
@mixin make-grid() {
  $min: 1;
  $max: 12;


  // xs
  @for $width from $min through $max {
    .prime-xs-#{$width} {
      float: left;
      width: 8.33333333% * $width;
    }
  }

  // sm (>= 568px)
  @media screen and (min-width: 35.5em) {
    @for $width from $min through $max {
      .prime-sm-#{$width} {
        float: left;
        width: 8.33333333% * $width;
      }
    }
  }

  // md (>= 768px)
  @media screen and (min-width: 48em) {
    @for $width from $min through $max {
      .prime-md-#{$width} {
        float: left;
        width: 8.33333333% * $width;
      }
    }
  }

  // lg (>= 1024px)
  @media screen and (min-width: 64em) {
    @for $width from $min through $max {
      .prime-lg-#{$width} {
        float: left;
        width: 8.33333333% * $width;
      }
    }
  }

  // xl (>= 1280px)
  @media screen and (min-width: 80em) {
    @for $width from $min through $max {
      .prime-xl-#{$width} {
        float: left;
        width: 8.33333333% * $width;
      }
    }
  }
}

// includes
@include make-grid;